@font-face {
    font-family: 'SignPainter';
    src: url(/fonts/SignPainter.ttc) format("truetype");
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url(/fonts/CormorantGaramond-VariableFont_wght.ttf) format("truetype");
}

:root {
    --purple: rgba(66,2,143,.25);
    --dark-purple: rgba(26,10,46,1);
}

body {
    font-family: CormorantGaramond, serif;
    margin: 0;
    padding: 0;
}

#heading {
    text-align: center;
    background-color: var(--dark-purple);
    color: white;
    padding: 1vh 1vw;
    top: 0;
}

#heading h1 {
    font-family: 'SignPainter', cursive;
    font-size: 2em;
}

hr {
    width: 2px; 
    border: none; 
    background-color: var(--dark-purple); 
    margin: auto 0.5em;
    height: 15vw;
}

img {
    border-radius: 10px;
}

#stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    background-color: var(--purple);
}

.vr {
    height: 2px; 
    border: none; 
    background-color: var(--dark-purple); 
    margin: auto;
    width: 75vw;
}

#poem {
    width: 75vw;
    margin: 2em auto;
    font-size: 1em;
    line-height: 1.75em;
}